version: "3"
services:
  web:
    networks:
      - fastchat-shared-network
    image: jianshao/fastchat-demo:${image_ver}
    container_name: ${container_name_prefix}web
    restart: unless-stopped
    command:
      - python
      - -m
      - fastchat.serve.gradio_web_server
      - --controller-url
      - http://controller:21001
      - --model-list-mode
      - reload
    ports:
      - 7860:7860
  openai:
    networks:
      - fastchat-shared-network
    image: jianshao/fastchat-demo:${image_ver}
    container_name: ${container_name_prefix}openai
    restart: unless-stopped
    command:
      - python
      - -m
      - fastchat.serve.openai_api_server
      - --host
      - 0.0.0.0
      - --controller-address
      - http://controller:21001
    ports:
      - 8000:8000
  nextweb:
    networks:
      - fastchat-shared-network
    image: yidadaa/chatgpt-next-web:v2.10.1
    container_name: ${container_name_prefix}nextweb
    restart: unless-stopped
    depends_on:
      - openai
    environment:
      - BASE_URL=http://openai:8000
    ports:
      - 3000:3000
networks:
  fastchat-shared-network:
    external: true
