version: "3"
services:
  openai:
    image: jianshao/ollama-server:${image_ver}
    container_name: ${container_name_prefix}openai
    restart: unless-stopped
    environment:
      - https_proxy=${https_proxy}
    volumes:
      - ${model_cache_path}:/home/devel/.ollama
    ports:
      - 8000:11434
  nextchat:
    image: yidadaa/chatgpt-next-web:v2.11.3
    container_name: ${container_name_prefix}nextchat
    restart: unless-stopped
    depends_on:
      - openai
    environment:
      - BASE_URL=http://openai:11434
    ports:
      - 3000:3000
