autoawq
bitsandbytes
sentencepiece
unstructured
langchainhub
langchain
langchain-core
langchain-cli
langchain-chroma
langchain-community
langchain-openai
langchain-ollama
langchain-huggingface
langchain-google-genai