unstructured
langgraph
langchain
langchain-core
langchain-cli
langchain-chroma
langchain-community
langchain-openai
langchain-ollama
langchain-huggingface["full"]
langchain-google-genai
langchain-mcp-adapters