libmagic
unstructured
langchainhub
langchain
langchain-core>=0.3,<0.4
langchain-cli
langchain-chroma
langchain-community
langchain-openai
langchain-ollama
langchain-huggingface
langchain-google-genai
langchain-mcp-adapters